daemon
database-upgrade=true

alias={{ alias }}
rgb={{ rgb }}
addr=:9735
network={{ network }}

log-prefix={{ log_prefix }}
ignore-fee-limits=true
fee-base=10

bitcoin-rpcuser={{ rpcuser }}
bitcoin-rpcpassword={{ rpcpassword }}
bitcoin-rpcport={{ rpcport }}
bitcoin-rpcconnect={{ rpcconnect }}

disable-plugin=bcli
